.title {
	margin-bottom: 24px;
	font-weight: 500;
	font-size: 20px;
	line-height: 28px;
}

.image {
	border-radius: 10px;
}

.productTitle {
	font-weight: 700;
	white-space: initial;
}

.quantity {
	span {
		font-weight: 500;
	}
}

.productDiscount {
	color: #2f855a;
}

.cartTotal {
	font-size: 14px;
	line-height: 22px;
	text-align: right;
}

.delete {
	margin-left: auto;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 50%;
	width: 30px;
	height: 30px;
	transition: background-color 0.2s ease-in-out;

	svg {
		color: #575757;
		transition: color 0.2s ease-in-out;
	}

	&:hover {
		background-color: #e53e3e;

		svg {
			color: #fff;
		}
	}
}

.coupon {
	display: flex;
	align-items: center;
	justify-content: flex-end;
	gap: 16px;
}

.couponDiscount {
	font-weight: 400;
	font-size: 14px;
	color: #7b7e81;
}
