.root {
	margin-bottom: 116px;

	@media (max-width: 1172px) {
		margin-bottom: 66px;
	}

	@media (max-width: 858px) {
		margin-bottom: 50px;
	}

	@media (max-width: 740px) {
		margin-bottom: 40px;
	}
}

.title {
	margin-bottom: 80px;

	@media (max-width: 1172px) {
		margin-bottom: 46px;
	}

	@media (max-width: 740px) {
		margin-bottom: 32px;
	}
}

.list {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 36px 40px;

	li {
		display: flex;
		flex-direction: column;

		@media (max-width: 740px) {
			&:nth-child(odd) {
				.item {
					background-color: #ffd2a9;
					border: 1px solid #ffd2a9;
				}
			}
		}
	}

	@media (max-width: 1172px) {
		gap: 34px 24px;
	}

	@media (max-width: 858px) {
		gap: 30px 20px;
	}

	@media (max-width: 740px) {
		grid-template-columns: 1fr;
		gap: 14px;
	}
}

.item {
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 20px 30px 40px;
	border: 2px solid #181818;
	border-radius: 10px;

	&.withImage {
		position: relative;
		padding-right: 170px;
		overflow: hidden;

		@media (max-width: 1172px) {
			padding-right: 94px;
		}

		@media (max-width: 858px) {
			padding-right: 8px;
		}

		@media (max-width: 740px) {
			padding-right: 6px;
		}
	}

	@media (max-width: 1172px) {
		padding: 10px 10px 20px;
	}

	@media (max-width: 858px) {
		padding: 6px 8px 20px;
	}

	@media (max-width: 740px) {
		color: #535353;
		padding: 12px 6px 24px;
		border: 1px solid #8a8a8a;
	}
}

.itemNumber {
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 600;
	font-size: 28px;
	line-height: 32px;
	color: #fff;
	width: 46px;
	height: 46px;
	background-color: #fb7242;
	border-radius: 6px;

	@media (max-width: 1172px) {
		margin-bottom: 14px;
		width: 36px;
		height: 36px;
		font-size: 24px;
		line-height: 28px;
	}

	@media (max-width: 858px) {
		margin-bottom: 18px;
	}

	@media (max-width: 740px) {
		margin-bottom: 10px;
		width: 36px;
		height: 20px;
		font-size: 12px;
		line-height: 14px;
	}
}

.itemTitle {
	flex-grow: 1;
	margin-bottom: 40px;
	font-weight: 600;
	font-size: 28px;
	line-height: 32px;
	text-transform: uppercase;

	@media (max-width: 1172px) {
		margin-bottom: 26px;
		font-size: 20px;
		line-height: 24px;
	}

	@media (max-width: 858px) {
		font-size: 16px;
		line-height: 18px;
	}

	@media (max-width: 740px) {
		margin-bottom: 14px;
		font-size: 12px;
		line-height: 14px;
	}
}

.itemDescription {
	font-weight: 500;
	font-size: 20px;
	line-height: 30px;

	@media (max-width: 1172px) {
		font-size: 16px;
		line-height: 25px;
	}

	@media (max-width: 858px) {
		font-size: 14px;
		line-height: 20px;
	}

	@media (max-width: 740px) {
		font-size: 12px;
		line-height: 14px;
	}
}

.image {
	position: absolute;
	bottom: -38px;
	right: -62px;
	transform: rotate(-15deg);

	@media (max-width: 1172px) {
		width: 88px;
		height: 120px;
		transform: rotate(-40deg);
		bottom: -36px;
		right: -8px;
	}

	@media (max-width: 858px) {
		display: none;
	}
}
